@import "../../styles/base.scss";

.container {
  @include directionY;
  height: 100%;

  .heading {
    @include font($marine-blue, 30px, $font-weight-bold);
  }

  .sub_heading {
    @include font($cool-gray, 18px, $font-weight-regular);
    margin-top: 1rem;
  }

  .list_container {
    .list_wrapper {
      @include directionX;
      border: 1px solid $marine-blue;
      border-radius: 10px;
      margin-top: 1rem;
      padding: 1rem;

      .text_wrapper {
        @include directionY;

        div{
            margin: 0
        }

        .title span {
          @include font($marine-blue, 18px, $font-weight-bold);
        }
        
        .desc span {
            @include font($cool-gray, 16px, $font-weight-medium);
        }
      }

      .price span {
        @include font($purplish-blue, 16px, $font-weight-medium);
        text-align: end
      }
    }
  }

  .btn_wrapper {
    @include directionX;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;

    button {
      @include font($cool-gray, 18px, $font-weight-medium);
      border-radius: 10px;
      padding: 0.5rem 1.5rem;
      text-transform: capitalize;
    }

    .btn_next {
      @include font($white, 18px, $font-weight-regular);
      margin: auto 0 0 auto;
      background-color: $marine-blue;
      text-transform: capitalize;
    }
  }
}
