$font-ubuntu: "Ubuntu", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@mixin font($color, $size, $weight) {
  font-family: $font-ubuntu !important;
  color: $color !important;
  font-size: $size !important;
  font-weight: $weight !important;
}
