@import "../../styles/base.scss";

body {
  background-color: $magnolia;
  margin: 0;
}

.container {
  @include directionY;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;

  @include apply-at-lg-size {
    justify-content: flex-start;
  }

  .container__inner {
    @include directionX;
    background-color: $white;
    border-radius: 20px;
    width: 90%;
    height: 70%;
    padding: 1rem;
    margin: 0 auto;

    @include apply-at-lg-size {
      height: 60%;
      margin-top: 8rem;
    }

    .wrapper_left {
      width: 50%;
      background-image: url("../../assets/bg-sidebar-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;

      @include apply-at-lg-size {
        @include directionX;
        background-image: url("../../assets/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        border-radius: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        z-index: -1;
        justify-content: center;
      }
    }

    .wrapper_right {
      width: 100%;
      padding: 2rem 7rem;

      @include apply-at-lg-size {
        padding: 2rem 3rem;
      }

      @include apply-at-md-size {
        padding: 2rem 1.5rem;
      }

      @include apply-at-sm-size {
        padding: 1rem .5rem;
      }
    }
  }
}
