@import "../../styles/base.scss";

.container {
  @include directionY;
  height: 100%;

  .heading {
    @include font($marine-blue, 30px, $font-weight-bold);
  }

  .sub_heading {
    @include font($cool-gray, 18px, $font-weight-regular);
    margin-top: 1rem;
  }

  .summary_container {
    @include directionY;
    margin-top: 2rem;
    background-color: $magnolia;
    padding: 1.5rem;
    border-radius: 10px;

    hr {
      margin-top: 1rem;
    }

    .summary_container__inner {
      @include directionX;
      justify-content: space-between;
      align-items: center;

      .summary_text {
        @include directionY;

        p {
          @include font($marine-blue, 18px, $font-weight-medium);
        }

        a {
          cursor: pointer;
          @include font($cool-gray, 16px, $font-weight-regular);
        }

        a:hover {
          @include font($purplish-blue, 16px, $font-weight-regular);
        }
      }

      .summary_price {
        text-align: end;
        @include font($marine-blue, 18px, $font-weight-bold);
      }
    }

    .summary_container__inner_sub {
      @include directionX;
      margin-top: 1rem;

      .summary_title {
        @include font($cool-gray, 16px, $font-weight-regular);
      }

      .summary_price {
        @include font($marine-blue, 16px, $font-weight-medium);
        margin-left: auto;
      }
    }
  }

  .summary_total {
    @include directionX;
    padding: 1.5rem;

    p {
      @include font($cool-gray, 16px, $font-weight-regular);
    }

    h5 {
      @include font($purplish-blue, 20px, $font-weight-bold);
      margin-left: auto;
    }
  }

  .btn_wrapper {
    @include directionX;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;

    @include apply-at-lg-size {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }

    button {
      @include font($cool-gray, 18px, $font-weight-medium);
      border-radius: 10px;
      padding: 0.5rem 1.5rem;
      text-transform: capitalize;
      background-color: transparent;

      @include apply-at-lg-size {
        margin: 1.5rem 1rem !important;
      }
    }

    .btn_next {
      @include font($white, 18px, $font-weight-regular);
      margin: auto 0 0 auto;
      background-color: $marine-blue;
      text-transform: capitalize;
    }

    .btn_next:hover {
      background-color: $pastel-blue;
    }
  }

  .btn_backdrop {
    @include apply-at-lg-size {
      height: 100px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $white;
      z-index: -1;
    }
  }
}

.container_success {
  @include directionY;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    width: 100px;
    height: 100px;
  }

  h5 {
    @include font($marine-blue, 32px, $font-weight-bold);
    margin: 1.5rem 0 1rem;
  }

  p {
    text-align: center;
    @include font($cool-gray, 18px, $font-weight-regular);
  }
}
